<div class="navbar-container">
    <h2 i18n>Neuer Text zum Übersetzen</h2>
    <div class="nav-content">


        <div class="logo-section">
            <img src="assets/img/7.jpg" width="40px" height="40px" alt="Image">
        </div>

        @if (navItems && navItems.length > 0) {
            <ul>
                @for (nav of navItems; track $index) {
                    <li 
                        [ngClass]="{'active-item': nav.active}" 
                        (click)="selectedItem(nav)">

                        <ng-container [ngSwitch]="nav.path">
                            @switch (nav.path) {
                                @case ('home') {
                                    <span>Home</span>
                                }
                                @case ('details') {
                                    <span>Details</span>
                                }
                                @case ('rsvp') {
                                    <span>RSVP</span>
                                }
                                @case ('contact') {
                                    <span>Contact</span>
                                }
                                @case ('faqs') {
                                    <span>FAQS</span>
                                }
                            }
                        </ng-container>

                        @if (nav.icon) {
                            <i i18n class="{{nav.icon}}"></i>
                        }
                    </li>
                }
            </ul>
        }

    </div>

</div>
