<!-- <div class="navbar-container">
    <div class="nav-content">

        <div class="logo-section">
            <img src="assets/img/7.jpg" width="40px" height="40px" alt="Image">
        </div>

        @if (navItems && navItems.length > 0) {
            <ul>
                @for (nav of navItems; track $index) {
                    <li 
                        [ngClass]="{'active-item': nav.active}" 
                        (click)="selectedItem(nav)">

                        <ng-container [ngSwitch]="nav.path">
                            @switch (nav.path) {
                                @case ('home') {
                                    <span>Home</span>
                                }
                                @case ('details') {
                                    <span>Details</span>
                                }
                                @case ('rsvp') {
                                    <span>RSVP</span>
                                }
                                @case ('contact') {
                                    <span>Contact</span>
                                }
                                @case ('faqs') {
                                    <span>FAQS</span>
                                }
                            }
                        </ng-container>

                        @if (nav.icon) {
                            <i class="{{nav.icon}}"></i>
                        }
                    </li>
                }
            </ul>
        }

    </div>

</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="assets/img/7.jpg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
      <span>September</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/details" routerLinkActive="active">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rsvp" routerLinkActive="active">RSVP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faqs" routerLinkActive="active">FAQS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
